.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 0;
    box-sizing: border-box;
    flex-direction: column;
}

.container {
    width: 400px;
    height: 100%;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card {
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
    border: 1px solid blue;
    padding: 0 40px 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.close {
    font-weight: bold;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: gray;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-email {
    font-style: italic;
    margin-bottom: 10px;
}

.user-age {
    color: gray;
    font-size: 18px;
}

.add-user {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    box-sizing: border-box;
}

.field {
    width: 100%;
    height: 22px;
    outline: none;
    border: 1px solid black;
    padding-left: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#save {
    width: 60%;
    height: 40px;
}